* {
  box-sizing: border-box;
}

:root {
  --Primary-Red: #fb7185;
  --Dark-Gray: #374151;
  --Font-Dark: #1f2937;
  --Error-Red: #dc2626;
  --Correct-Green: #22c55e;
}

body {
  color: #4b5563;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  background: none
}

a {
  text-decoration: none;
  color: var(--Dark-Gray);
}

li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  max-width: 2000px;
  padding: 2rem;
}

.img-container {
  margin: 0 auto;
  text-align: center;
  max-width: 1920px;
  position: relative;
}

.img-container img {
  width: 100%;
}

.targeting-box {
  position: absolute;
  border: 5px dashed red;
  padding: 25px;
}

.pop-up {
  margin-top: 50px;
  position: absolute;
  top: 0;
  color: white;
  z-index: 99;
}

.char-slct-container {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 1rem;
}

.pop-up button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  border-bottom: 1px solid #f3f4f6;
  padding: 0.75rem;
  min-width: 150px;
  text-align: left;
  transition: 0.3s;
}

.pop-up button:hover {
  background: #f5f5f4;
}

.winner-modal {
  display: flex;
  justify-content: center;
  background: #22c55e;
  padding: 1rem 0;
}

.char-btn-container {
  display: flex;
  align-items: center;
}

.char-container img {
  width: 18px;
  height: 22px;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .lvl-wrapper {
    padding: 1rem 0.5rem;
  }
}
